<div class="container">
	<div class="row">
		<div class="text-center">
			<div class="title">
				<h1>ようこそ、CloudTimeへ!</h1>
				<%= image_tag'logo.png', :size => '160x180' %><br><br>
			</div><br><br>
			<div class="wrap">
				<div><%= image_tag 'image1.jpg', :size => '500x400' %></div>
				<div><p>CloudTimeはお手持ちのPCとインターネットだけで出来る、<br>簡易的かつ実用的なクラウド型の勤怠管理アプリです。</p></div>
			</div>
			<div class="wrap">
				<div><%= image_tag 'image2.jpg', :size => '500x400' %></div>
				<div><p>従来の紙のタイムカードを現在ご利用されている方や、<br>
			パソコン操作が苦手な方でもスムーズにお乗り換えいただけます。</p></div>
			</div>
			<div class="wrap">
				<div><%= image_tag 'image3.jpg', :size => '500x400' %></div>
				<div><p>打刻データがリアルタイムにブラウザ上で管理出来るので、<br>
			「作業効率」と「コスト削減」の実現が可能となります。</p></div>
			</div>
			<div class="wrap">
				<div><%= image_tag 'image4.jpg', :size => '500x400' %></div>
				<div><p>本アプリをお客様の勤怠のクラウド化の第一歩として、<br>
			是非ご利用いただけますと幸いです。</p></div>
			</div>
 		</div>
	</div>
</div>