<div class="container">
	<div class="row">
		<div class="text-center">
			<h2><%= @month_name %>月<%= @date %>日の勤怠</h2><br>
			<%= form_for(@attendance_schedule) do |f| %>
			<table class="table table-bordered">
				<thead class="contents_title">
					<tr>
						<th><%= f.label :arrive_time, "出勤時刻" %></th>
						<th><%= f.label :leave_time, "退勤時刻" %></th>
						<th><%= f.label :break_start_time, "休憩開始" %></th>
						<th><%= f.label :break_end_time, "休憩終了" %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= f.time_field :arrive_time %></td>
						<td><%= f.time_field :leave_time %></td>
						<td><%= f.time_field :break_start_time %></td>
						<td><%= f.time_field :break_end_time %></td>
					</tr>
				</tbody>
			</table><br>
			<%= link_to "戻る", attendance_schedules_path, class:"btn btn-danger" %>　
			<%= f.submit "変更内容を登録", class:"btn btn-success" %>
			<% end %>
		</div>
	</div>
</div>